<h2>List of Movies</h2>
{{#each movies}}
<h3>{{title}}</h3>
<a href="/movies/{{_id}}">See more details</a>
<form action="/movies/{{_id}}/delete" method="post">
<button type="submit">Delete</button>
</form>

<form action="/movies/{{_id}}/edit" method="get">
<button type="submit">Edit</button>
</form>

{{/each}}